#iterations {
    margin-bottom: 5px;
    font-size: 20px
}

#speed {
    margin-bottom: 5px;
    font-size: 20px
}

#render {
    padding-left: 77px;
    padding-right: 77px;
    border-radius: 0px;

    font-size: 20px
}

p {
    font-size: 20px;
    display: flex;
    justify-content: center
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center
}

canvas {
    margin-left: 12%;
    margin-top: -90px;
    border: 5px outset rgb(0, 0, 0);
    position: absolute;
    width: 1275px;
    height: 850px;
}

#loadingDisplay {
    font-size: 20px;
    margin-left: 75px;
    display: inline;
}